nav: center
  br
  a(href="/") Home 
  | &nbsp;| 
  a(href="/auth") Auth
  | &nbsp;| 
  a(href="/auth/connect/local") Connect-local
  | &nbsp;| 
  a(href="/auth/profile") Profile
  | &nbsp;| 
  a(href="/maps") Maplist
  | &nbsp;| 
  a(href="/auth/logout") Logout
  hr